.experience
	padding-top: 125px

	&__subtitle
		position: relative
		text-align: center
		@include before_circle
		&::before
			left: 50%
			transform: translateX(-50%)
			bottom: -20%
	&__title
		text-align: center
		margin-top: 6px

	&__divider
		@include divider
		margin: 0 auto
		margin-top: 25px

	&__wrapper
		padding: 0 65px
		margin-top: 60px

		display: grid
		grid-template-columns: repeat(auto-fill, 425px)
		justify-content: space-between
		column-gap: 135px

	&__col
		&-title
			position: relative
			padding-left: 50px
			&::before
				content: ''
				position: absolute
				left: 0
				top: 50%
				transform: translateY(-50%)
				width: 15px
				height: 15px
				background-color: $mcolor
				border-radius: 100%

		ul
			list-style-type: none
			padding: 0
			li
				position: relative
				padding-left: 50px
				&::after
					content: ''
					position: absolute
					left: 7px
					top: -7px
					width: 1px
					height: calc(100% + 7px)
					background-color: #000
	&__item
		position: relative
		&::before
			content: ''
			position: absolute
			top: 42px
			left: -22px
			width: 1px
			height: 43px
			background-color: #000
			transform: rotate(90deg)

		&-head
			position: relative
			padding: 45px 0 0 50px
			
		&-icon
			position: absolute
			left: 16px
			top: 60px
			font-size: 21px
			
			@include before_circle_icon
			&::before
				left: -16px
				top: -14px

		&-body
			margin-top: 12px
			font-weight: 500
			font-size: 12px
			line-height: 18px

	&__head-subtitle
		font-size: 12px
		font-weight: 500
		line-height: 18px
